# FastAPI Backend Configuration
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# App Configuration
NODE_ENV="development"
NEXT_PUBLIC_APP_NAME="Base NextJS App"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
